<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4"> Autoservice list </h1>
      <% @autoservices.each do |autoservice| %>
        <!-- Blog Post -->
        <div class="card mb-4">
          <% unless autoservice.avatar.blank? %>
            <%= image_tag autoservice.avatar.url(:thumb), class: "card-img-top" %>
          <% else %>
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <% end %>
          <div class="card-body">
            <h2 class="card-title"> <%= autoservice.name %> </h2>
            <h3 class="card-title"> Address: <%= autoservice.address %> </h2>
            <h3 class="card-title"> Phone: <%= autoservice.phone %> </h2>
            <p class="card-text">
              <% autoservice.services.each do |service| %>
                <span class="card-title"> <%= service.name %>,  </span>
              <% end %>
            </p>
            <%= link_to "See more", autoservice_url(autoservice), method: :get, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search autoservice</h5>
        <div class="card-body">
        <%= form_tag search_autoservice_search_path, method: 'get', class: "form-inline" do %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for ..." %>
          <%= submit_tag "Search", name: nil, class: "btn btn-secondary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

