<div class="container" id="top-shift">

  <div class="row">

    <div class="col-md-2">
    </div>
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"> <%= @autoservice.name %> </h2>
            <h3 class="card-title"> Address: <%= @autoservice.address %> </h2>
            <h3 class="card-title"> Phone: <%= @autoservice.phone %> </h2>
            <p class="card-text">
              <% @autoservice.services.each do |service| %>
                <span class="card-title"> <%= service.name %>,  </span>
              <% end %>
            </p>
          </div>
        </div>
    </div>

    <div class="col-md-2">
    </div>
</div>

<button class="btn btn-default commenti"><i class="fa fa-comment" aria-hidden="true"></i> Leave a comment for moderator </button>

<div class="bg-popup"></div>
  <div class="card card-login mx-auto popup">
    <div class="card-header">
      <i class="fa fa-envelope" aria-hidden="true"></i> Contact us
    </div>
    <div class="card-body">
      <p class="text-danger"><%=flash[:alert]%></p>

      <%= form_tag({controller: "autoservices", action: "create"}, method: "post") do %>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <%= text_field_tag :email, params[:email], class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter email', type: 'email'%>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Text</label>
          <%= text_area_tag :text, params[:text], class: 'form-control', id: 'exampleTextarea', placeholder: 'Your comment', type: 'text', rows: "5" %>
        </div>
          <%= hidden_field_tag :id, @autoservice.id %>

        <%= submit_tag 'Send', class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>