<div class="bg-popup"></div>
  <div class="card card-login mx-auto popup">
    <div class="card-header">
      <i class="fa fa-envelope" aria-hidden="true"></i> Contact us
    </div>
    <div class="card-body">
      <p class="text-danger"><%=flash[:alert]%></p>

      <%= form_tag({controller: "comments", action: "create"}, method: "post") do %>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <%= text_field_tag :email, params[:email], class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter email', type: 'email'%>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Text</label>
          <%= text_area_tag :text, params[:text], class: 'form-control', id: 'exampleTextarea', placeholder: 'Your comment', type: 'text', rows: "5" %>
        </div>
          <%= hidden_field_tag :id, @autoservice.id %>

        <%= submit_tag 'Send', class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>