<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <h1 class="my-4"> Autoservice list </h1>
      <% @autoservices.each do |autoservice| %>
        <!-- Blog Post -->
        <div class="card mb-4" id="autoservice_<%= autoservice.id %>">

          <% unless autoservice.avatar.blank? %>
            <%= image_tag autoservice.avatar.url(:thumb), class: "card-img-top" %>
          <% else %>
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <% end %>
          <div class="card-body">
            <h2 class="card-title"> <%= autoservice.name %> </h2>
            <h3 class="card-title"> Address: <%= autoservice.address %> </h2>
            <h3 class="card-title"> Phone: <%= autoservice.phone %> </h2>
            <p class="card-text">
              <% autoservice.services.each do |service| %>
                <span class="card-title"> <%= service.name %>,  </span>
              <% end %>
            </p>
            <%= link_to "Edit", edit_autoservice_url(id: autoservice.id), remote: true, class: "btn btn-primary", id: "button_edit_#{autoservice.id}"%>
            <%= link_to "Delete", autoservice, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-primary", remote: true %>
            <%= link_to "See comments", comments_url(id: autoservice.id), class: "btn btn-primary" %>
          </div>
        </div>


          <div class="card card-login mx-auto service_hide surface" id="autoservice_edit_<%= autoservice.id %>">
            <div class="card-header">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this autoservice
            </div>
            <div class="card-body">
              <p class="text-danger"><%=flash[:alert]%></p>

              <%= form_for autoservice, html: { multipart: true } do |f|%>
                <div class="form-group">
                  <label for="usr">Name</label>
                  <%= f.text_field :name, class: 'form-control', id: 'usr', placeholder: 'Enter name', type: 'text'%>
                </div>

                <div class="form-group">
                  <label for="usr">Phone</label>
                  <%= f.text_field :phone, class: 'form-control', id: 'usr', placeholder: 'Enter phone', type: 'text'%>
                </div>

                <div class="form-group">
                  <label for="usr">Address</label>
                  <%= f.text_field :address, class: 'form-control', id: 'usr', placeholder: 'Enter address', type: 'text'%>
                </div>

                <div class="form-group">
                  <%= image_tag(autoservice.avatar_url, width: "100%") if autoservice.avatar? %>
                  <%= f.file_field :avatar, class: 'form-control'%>
                </div>

                <%= f.fields_for :services do |service_form| %>
                  <div class="form-group">
                    <fieldset>
                      <div class="input-group">
                        <%= service_form.text_field :name, class: 'form-control', id: 'usr', placeholder: 'Service type', type: 'text' %>
                        <%= link_to '<i class="fa fa-minus"></i>'.html_safe, '#', class: 'remove_fields input-group-addon' %>
                      </div>
                      <%= service_form.hidden_field :_destroy %>
                    </fieldset>
                  </div>
                <% end %>

                <%= link_to_add_fields 'Add service', f, :services %>

                <%= f.submit 'Edit', class: "btn btn-primary btn-block" %>
              <% end %>
            </div>
          </div>


      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- /.row -->

</div>

<div class="bg-popup"></div>
<%= render 'form' %>
<button class="btn btn-default new"><i class="fa fa-plus" aria-hidden="true"></i> <i class="fa fa-wrench" aria-hidden="true"></i> Create new autoservice </button>
